h1 {
    text-align: center;
}

td.ean-table {
    cursor: pointer;
    user-select: none;
}

.beeping {
    background-color: orange;
    color: black;
}

.ontop {
    position: fixed;
    background-color: #252525;
    padding: 10px;
    width: 100%;
    top: 0;
    left: 0;
}