h1 {
    text-align: center;
}

table {
    border: 2px black solid;
}
table td, table th {
    padding: 5px;
    border: 1px black solid;
}
td.ean-table {
    cursor: pointer;
    user-select: none;
}

.beeping {
    background-color: yellow;
}